# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Arquivos compilados do Java
*.class
*.log
*.jar
*.war

# Pastas de saída do IntelliJ
out/
target/

# Configurações do IntelliJ (arquivos locais que não devem ir pro Git)
.idea/
*.iml

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db

# Temporários
*.swp
*~